DJClient/DJClient/Service References/KaraokeService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sunny.eng.utah.edu/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sunny.eng.utah.edu/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sunny.eng.utah.edu/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDJ_DJSignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:DJSignUp" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJSignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJSignUpResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJSignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:DJSignIn" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJSignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJSignInResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJSignOut_InputMessage">
    <wsdl:part name="parameters" element="tns:DJSignOut" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJSignOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJSignOutResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJCreateSession_InputMessage">
    <wsdl:part name="parameters" element="tns:DJCreateSession" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJCreateSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJCreateSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJAddSongs_InputMessage">
    <wsdl:part name="parameters" element="tns:DJAddSongs" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJAddSongs_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJAddSongsResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJRemoveSongs_InputMessage">
    <wsdl:part name="parameters" element="tns:DJRemoveSongs" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJRemoveSongs_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJRemoveSongsResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJListSongs_InputMessage">
    <wsdl:part name="parameters" element="tns:DJListSongs" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJListSongs_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJListSongsResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJAddQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:DJAddQueue" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJAddQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJAddQueueResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJRemoveSongRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:DJRemoveSongRequest" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJRemoveSongRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJRemoveSongRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJChangeSongRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:DJChangeSongRequest" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJChangeSongRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJChangeSongRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJRemoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DJRemoveUser" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJRemoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJRemoveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJMoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DJMoveUser" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJMoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJMoveUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IDJ">
    <wsdl:operation name="DJSignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJSignUp" message="tns:IDJ_DJSignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJSignUpResponse" message="tns:IDJ_DJSignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJSignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJSignIn" message="tns:IDJ_DJSignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJSignInResponse" message="tns:IDJ_DJSignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJSignOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJSignOut" message="tns:IDJ_DJSignOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJSignOutResponse" message="tns:IDJ_DJSignOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJCreateSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJCreateSession" message="tns:IDJ_DJCreateSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJCreateSessionResponse" message="tns:IDJ_DJCreateSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJAddSongs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJAddSongs" message="tns:IDJ_DJAddSongs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJAddSongsResponse" message="tns:IDJ_DJAddSongs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJRemoveSongs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJRemoveSongs" message="tns:IDJ_DJRemoveSongs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJRemoveSongsResponse" message="tns:IDJ_DJRemoveSongs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJListSongs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJListSongs" message="tns:IDJ_DJListSongs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJListSongsResponse" message="tns:IDJ_DJListSongs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJAddQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJAddQueue" message="tns:IDJ_DJAddQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJAddQueueResponse" message="tns:IDJ_DJAddQueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJRemoveSongRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJRemoveSongRequest" message="tns:IDJ_DJRemoveSongRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJRemoveSongRequestResponse" message="tns:IDJ_DJRemoveSongRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJChangeSongRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJChangeSongRequest" message="tns:IDJ_DJChangeSongRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJChangeSongRequestResponse" message="tns:IDJ_DJChangeSongRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJRemoveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJRemoveUser" message="tns:IDJ_DJRemoveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJRemoveUserResponse" message="tns:IDJ_DJRemoveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJMoveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJMoveUser" message="tns:IDJ_DJMoveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJMoveUserResponse" message="tns:IDJ_DJMoveUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDJ" type="tns:IDJ">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DJSignUp">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJSignUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJSignIn">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJSignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJSignOut">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJSignOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJCreateSession">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJCreateSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJAddSongs">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJAddSongs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJRemoveSongs">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJRemoveSongs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJListSongs">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJListSongs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJAddQueue">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJAddQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJRemoveSongRequest">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJRemoveSongRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJChangeSongRequest">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJChangeSongRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJRemoveUser">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJRemoveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJMoveUser">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJMoveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IDJ" binding="tns:BasicHttpBinding_IDJ">
      <soap:address location="http://sunny.eng.utah.edu/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>