DJClientWPF/DJClientWPF/Service References/KaraokeService/DJ32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Venue">
    <xs:sequence>
      <xs:element minOccurs="0" name="venueAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="venueID" type="xs:int" />
      <xs:element minOccurs="0" name="venueName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Venue" nillable="true" type="tns:Venue" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="error" type="xs:boolean" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:complexType name="LogInResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="error" type="xs:boolean" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result" type="xs:int" />
      <xs:element minOccurs="0" name="user" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="userKey" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogInResponse" nillable="true" type="tns:LogInResponse" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="userID" type="xs:int" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfSong">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Song" nillable="true" type="tns:Song" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSong" nillable="true" type="tns:ArrayOfSong" />
  <xs:complexType name="Song">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="artist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="duration" type="xs:int" />
      <xs:element minOccurs="0" name="pathOnDisk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rating" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Song" nillable="true" type="tns:Song" />
  <xs:complexType name="SongRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="songID" type="xs:int" />
      <xs:element minOccurs="0" name="user" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SongRequest" nillable="true" type="tns:SongRequest" />
  <xs:complexType name="ArrayOfqueueSinger">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="queueSinger" nillable="true" type="tns:queueSinger" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfqueueSinger" nillable="true" type="tns:ArrayOfqueueSinger" />
  <xs:complexType name="queueSinger">
    <xs:sequence>
      <xs:element minOccurs="0" name="songs" nillable="true" type="tns:ArrayOfSong" />
      <xs:element minOccurs="0" name="user" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queueSinger" nillable="true" type="tns:queueSinger" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
</xs:schema>