DJClientWPF/DJClientWPF/Service References/KaraokeService/DJ32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Venue">
    <xs:sequence>
      <xs:element minOccurs="0" name="venueAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="venueID" type="xs:int" />
      <xs:element minOccurs="0" name="venueName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Venue" nillable="true" type="tns:Venue" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="error" type="xs:boolean" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:complexType name="LogInResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="error" type="xs:boolean" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result" type="xs:int" />
      <xs:element minOccurs="0" name="user" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="userKey" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogInResponse" nillable="true" type="tns:LogInResponse" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="userID" type="xs:int" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfSong">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Song" nillable="true" type="tns:Song" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSong" nillable="true" type="tns:ArrayOfSong" />
  <xs:complexType name="Song">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="artist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="duration" type="xs:int" />
      <xs:element minOccurs="0" name="pathOnDisk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rating" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Song" nillable="true" type="tns:Song" />
  <xs:complexType name="SongRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="songID" type="xs:int" />
      <xs:element minOccurs="0" name="user" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SongRequest" nillable="true" type="tns:SongRequest" />
  <xs:complexType name="ArrayOfqueueSinger">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="queueSinger" nillable="true" type="tns:queueSinger" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfqueueSinger" nillable="true" type="tns:ArrayOfqueueSinger" />
  <xs:complexType name="queueSinger">
    <xs:sequence>
      <xs:element minOccurs="0" name="songs" nillable="true" type="tns:ArrayOfSong" />
      <xs:element minOccurs="0" name="user" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queueSinger" nillable="true" type="tns:queueSinger" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="Achievement">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="image" type="tns:AchievementImage" />
      <xs:element minOccurs="0" name="isPermanant" type="xs:boolean" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="selectList" nillable="true" type="tns:ArrayOfAchievementSelect" />
      <xs:element minOccurs="0" name="statementsAnd" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Achievement" nillable="true" type="tns:Achievement" />
  <xs:simpleType name="AchievementImage">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Image0" />
      <xs:enumeration value="Image1" />
      <xs:enumeration value="Image2" />
      <xs:enumeration value="Image3" />
      <xs:enumeration value="Image4" />
      <xs:enumeration value="Image5" />
      <xs:enumeration value="Image6" />
      <xs:enumeration value="Image7" />
      <xs:enumeration value="Image8" />
      <xs:enumeration value="Image9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AchievementImage" nillable="true" type="tns:AchievementImage" />
  <xs:complexType name="ArrayOfAchievementSelect">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AchievementSelect" nillable="true" type="tns:AchievementSelect" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAchievementSelect" nillable="true" type="tns:ArrayOfAchievementSelect" />
  <xs:complexType name="AchievementSelect">
    <xs:sequence>
      <xs:element minOccurs="0" name="clauseKeyword" type="tns:ClauseKeyword" />
      <xs:element minOccurs="0" name="clauseValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="selectKeyword" type="tns:SelectKeyword" />
      <xs:element minOccurs="0" name="selectValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AchievementSelect" nillable="true" type="tns:AchievementSelect" />
  <xs:simpleType name="ClauseKeyword">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Artist" />
      <xs:enumeration value="Title" />
      <xs:enumeration value="SongID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ClauseKeyword" nillable="true" type="tns:ClauseKeyword" />
  <xs:simpleType name="SelectKeyword">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CountEqual" />
      <xs:enumeration value="CountNotEqual" />
      <xs:enumeration value="CountGreaterThan" />
      <xs:enumeration value="CountLessThan" />
      <xs:enumeration value="Max" />
      <xs:enumeration value="Min" />
      <xs:enumeration value="Newest" />
      <xs:enumeration value="Oldest" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SelectKeyword" nillable="true" type="tns:SelectKeyword" />
  <xs:complexType name="ArrayOfAchievement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Achievement" nillable="true" type="tns:Achievement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAchievement" nillable="true" type="tns:ArrayOfAchievement" />
</xs:schema>