DJClientWPF/DJClientWPF/Service References/KaraokeService/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sunny.eng.utah.edu:1717/DJ.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sunny.eng.utah.edu:1717/DJ.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sunny.eng.utah.edu:1717/DJ.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KServer" />
      <xsd:import schemaLocation="http://sunny.eng.utah.edu:1717/DJ.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDJ_DJSignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:DJSignUp" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJSignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJSignUpResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJSignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:DJSignIn" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJSignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJSignInResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJSignOut_InputMessage">
    <wsdl:part name="parameters" element="tns:DJSignOut" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJSignOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJSignOutResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJCreateSession_InputMessage">
    <wsdl:part name="parameters" element="tns:DJCreateSession" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJCreateSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJCreateSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJStopSession_InputMessage">
    <wsdl:part name="parameters" element="tns:DJStopSession" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJStopSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJStopSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJGetQRNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:DJGetQRNumber" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJGetQRNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJGetQRNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJGenerateNewQRNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:DJGenerateNewQRNumber" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJGenerateNewQRNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJGenerateNewQRNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJAddSongs_InputMessage">
    <wsdl:part name="parameters" element="tns:DJAddSongs" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJAddSongs_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJAddSongsResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJRemoveSongs_InputMessage">
    <wsdl:part name="parameters" element="tns:DJRemoveSongs" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJRemoveSongs_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJRemoveSongsResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJListSongs_InputMessage">
    <wsdl:part name="parameters" element="tns:DJListSongs" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJListSongs_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJListSongsResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJGetMostPopularSongs_InputMessage">
    <wsdl:part name="parameters" element="tns:DJGetMostPopularSongs" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJGetMostPopularSongs_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJGetMostPopularSongsResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJAddQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:DJAddQueue" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJAddQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJAddQueueResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJRemoveSongRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:DJRemoveSongRequest" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJRemoveSongRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJRemoveSongRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJChangeSongRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:DJChangeSongRequest" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJChangeSongRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJChangeSongRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJMoveSongRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:DJMoveSongRequest" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJMoveSongRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJMoveSongRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJRemoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DJRemoveUser" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJRemoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJRemoveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJMoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DJMoveUser" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJMoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJMoveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJGetQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:DJGetQueue" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJGetQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJGetQueueResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJPopQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:DJPopQueue" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJPopQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJPopQueueResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJNewUserWaitTime_InputMessage">
    <wsdl:part name="parameters" element="tns:DJNewUserWaitTime" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJNewUserWaitTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJNewUserWaitTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJTestQueueFill_InputMessage">
    <wsdl:part name="parameters" element="tns:DJTestQueueFill" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJTestQueueFill_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJTestQueueFillResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJBanUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DJBanUser" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJBanUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJBanUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJUnbanUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DJUnbanUser" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJUnbanUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJUnbanUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJGetBannedUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:DJGetBannedUsers" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJGetBannedUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJGetBannedUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJAddAchievement_InputMessage">
    <wsdl:part name="parameters" element="tns:DJAddAchievement" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJAddAchievement_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJAddAchievementResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJModifyAchievement_InputMessage">
    <wsdl:part name="parameters" element="tns:DJModifyAchievement" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJModifyAchievement_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJModifyAchievementResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJDeleteAchievement_InputMessage">
    <wsdl:part name="parameters" element="tns:DJDeleteAchievement" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJDeleteAchievement_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJDeleteAchievementResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJViewAchievements_InputMessage">
    <wsdl:part name="parameters" element="tns:DJViewAchievements" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJViewAchievements_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJViewAchievementsResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJEvaluateAchievements_InputMessage">
    <wsdl:part name="parameters" element="tns:DJEvaluateAchievements" />
  </wsdl:message>
  <wsdl:message name="IDJ_DJEvaluateAchievements_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJEvaluateAchievementsResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_ViewAchievementSql_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewAchievementSql" />
  </wsdl:message>
  <wsdl:message name="IDJ_ViewAchievementSql_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewAchievementSqlResponse" />
  </wsdl:message>
  <wsdl:message name="IDJ_InsertFauxSongHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertFauxSongHistory" />
  </wsdl:message>
  <wsdl:message name="IDJ_InsertFauxSongHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertFauxSongHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IDJ">
    <wsdl:operation name="DJSignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJSignUp" message="tns:IDJ_DJSignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJSignUpResponse" message="tns:IDJ_DJSignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJSignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJSignIn" message="tns:IDJ_DJSignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJSignInResponse" message="tns:IDJ_DJSignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJSignOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJSignOut" message="tns:IDJ_DJSignOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJSignOutResponse" message="tns:IDJ_DJSignOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJCreateSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJCreateSession" message="tns:IDJ_DJCreateSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJCreateSessionResponse" message="tns:IDJ_DJCreateSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJStopSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJStopSession" message="tns:IDJ_DJStopSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJStopSessionResponse" message="tns:IDJ_DJStopSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJGetQRNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJGetQRNumber" message="tns:IDJ_DJGetQRNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJGetQRNumberResponse" message="tns:IDJ_DJGetQRNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJGenerateNewQRNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJGenerateNewQRNumber" message="tns:IDJ_DJGenerateNewQRNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJGenerateNewQRNumberResponse" message="tns:IDJ_DJGenerateNewQRNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJAddSongs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJAddSongs" message="tns:IDJ_DJAddSongs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJAddSongsResponse" message="tns:IDJ_DJAddSongs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJRemoveSongs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJRemoveSongs" message="tns:IDJ_DJRemoveSongs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJRemoveSongsResponse" message="tns:IDJ_DJRemoveSongs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJListSongs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJListSongs" message="tns:IDJ_DJListSongs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJListSongsResponse" message="tns:IDJ_DJListSongs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJGetMostPopularSongs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJGetMostPopularSongs" message="tns:IDJ_DJGetMostPopularSongs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJGetMostPopularSongsResponse" message="tns:IDJ_DJGetMostPopularSongs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJAddQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJAddQueue" message="tns:IDJ_DJAddQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJAddQueueResponse" message="tns:IDJ_DJAddQueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJRemoveSongRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJRemoveSongRequest" message="tns:IDJ_DJRemoveSongRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJRemoveSongRequestResponse" message="tns:IDJ_DJRemoveSongRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJChangeSongRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJChangeSongRequest" message="tns:IDJ_DJChangeSongRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJChangeSongRequestResponse" message="tns:IDJ_DJChangeSongRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJMoveSongRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJMoveSongRequest" message="tns:IDJ_DJMoveSongRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJMoveSongRequestResponse" message="tns:IDJ_DJMoveSongRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJRemoveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJRemoveUser" message="tns:IDJ_DJRemoveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJRemoveUserResponse" message="tns:IDJ_DJRemoveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJMoveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJMoveUser" message="tns:IDJ_DJMoveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJMoveUserResponse" message="tns:IDJ_DJMoveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJGetQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJGetQueue" message="tns:IDJ_DJGetQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJGetQueueResponse" message="tns:IDJ_DJGetQueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJPopQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJPopQueue" message="tns:IDJ_DJPopQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJPopQueueResponse" message="tns:IDJ_DJPopQueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJNewUserWaitTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJNewUserWaitTime" message="tns:IDJ_DJNewUserWaitTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJNewUserWaitTimeResponse" message="tns:IDJ_DJNewUserWaitTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJTestQueueFill">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJTestQueueFill" message="tns:IDJ_DJTestQueueFill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJTestQueueFillResponse" message="tns:IDJ_DJTestQueueFill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJBanUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJBanUser" message="tns:IDJ_DJBanUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJBanUserResponse" message="tns:IDJ_DJBanUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJUnbanUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJUnbanUser" message="tns:IDJ_DJUnbanUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJUnbanUserResponse" message="tns:IDJ_DJUnbanUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJGetBannedUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJGetBannedUsers" message="tns:IDJ_DJGetBannedUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJGetBannedUsersResponse" message="tns:IDJ_DJGetBannedUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJAddAchievement">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJAddAchievement" message="tns:IDJ_DJAddAchievement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJAddAchievementResponse" message="tns:IDJ_DJAddAchievement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJModifyAchievement">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJModifyAchievement" message="tns:IDJ_DJModifyAchievement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJModifyAchievementResponse" message="tns:IDJ_DJModifyAchievement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJDeleteAchievement">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJDeleteAchievement" message="tns:IDJ_DJDeleteAchievement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJDeleteAchievementResponse" message="tns:IDJ_DJDeleteAchievement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJViewAchievements">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJViewAchievements" message="tns:IDJ_DJViewAchievements_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJViewAchievementsResponse" message="tns:IDJ_DJViewAchievements_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJEvaluateAchievements">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/DJEvaluateAchievements" message="tns:IDJ_DJEvaluateAchievements_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/DJEvaluateAchievementsResponse" message="tns:IDJ_DJEvaluateAchievements_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewAchievementSql">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/ViewAchievementSql" message="tns:IDJ_ViewAchievementSql_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/ViewAchievementSqlResponse" message="tns:IDJ_ViewAchievementSql_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertFauxSongHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IDJ/InsertFauxSongHistory" message="tns:IDJ_InsertFauxSongHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDJ/InsertFauxSongHistoryResponse" message="tns:IDJ_InsertFauxSongHistory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDJ" type="tns:IDJ">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DJSignUp">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJSignUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJSignIn">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJSignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJSignOut">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJSignOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJCreateSession">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJCreateSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJStopSession">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJStopSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJGetQRNumber">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJGetQRNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJGenerateNewQRNumber">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJGenerateNewQRNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJAddSongs">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJAddSongs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJRemoveSongs">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJRemoveSongs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJListSongs">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJListSongs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJGetMostPopularSongs">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJGetMostPopularSongs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJAddQueue">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJAddQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJRemoveSongRequest">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJRemoveSongRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJChangeSongRequest">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJChangeSongRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJMoveSongRequest">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJMoveSongRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJRemoveUser">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJRemoveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJMoveUser">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJMoveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJGetQueue">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJGetQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJPopQueue">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJPopQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJNewUserWaitTime">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJNewUserWaitTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJTestQueueFill">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJTestQueueFill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJBanUser">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJBanUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJUnbanUser">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJUnbanUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJGetBannedUsers">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJGetBannedUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJAddAchievement">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJAddAchievement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJModifyAchievement">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJModifyAchievement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJDeleteAchievement">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJDeleteAchievement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJViewAchievements">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJViewAchievements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJEvaluateAchievements">
      <soap:operation soapAction="http://tempuri.org/IDJ/DJEvaluateAchievements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAchievementSql">
      <soap:operation soapAction="http://tempuri.org/IDJ/ViewAchievementSql" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertFauxSongHistory">
      <soap:operation soapAction="http://tempuri.org/IDJ/InsertFauxSongHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IDJ" binding="tns:BasicHttpBinding_IDJ">
      <soap:address location="http://sunny.eng.utah.edu:1717/DJ.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>